#t1{
  font-size: 0.58cm;
  margin-left: 30px;
  position: absolute;
}

img{
    width: fit-content; 
    height: 40px;

}
* {
  margin: 0;
  padding: 0;
}
html{
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  position: relative;
}
.btn1 {
  cursor: pointer;
  background: #eddfdf;
  width: 200px;
  height: 64px;
  line-height: 64px;
  position: relative;
  left: 30%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
  box-shadow: 2px 2px 17px 5px rgba(0, 0, 0, 0.34);
}
.btn1 span {
  width: 350px;
  padding-right: 30px;
  color: black;
  display: block;
  text-transform: uppercase;
  font: bold 18px/66px Roboto;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
  
}

.btn1:before,
.btn1:after {
  content: '';
  background: linear-gradient(to bottom,#37bdba, #0bade3);
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.2s cubic-bezier(0.785, 0.1, 0.15, 0.86);
}
.btn1:before {
  top: 0;
  left: 0;
  right: auto;
}
.btn1:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.btn1:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.btn1:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.btn1:hover span {
  color: #000;
}
.btn1:hover em {
  background: #000;
  transform: scaleX(1);
}
.col-md-10 {
  font-family: "Audiowide", sans-serif;
  flex: 0 0 auto;
  width: 83.33333333%;
  text-shadow: gray 5px 5px;
}

#a1{
  
}

#ca{
  width: 60%;
  align-content: center;
  margin: auto;
}

body{
  background: rebeccapurple
}
#c1{
  display: flex;
      
}

